.app__container {
  height: 100vh;
  width: 100vw;
}

.app__content {
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
  // background-color: #f6f8fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow: auto;
}
